[buildout]
parts =
    test
    gmailtool
    docs-build

develop = .

[test]
recipe = zc.recipe.testrunner
eggs = gmailtool

[cmd-gmailtool]
recipe = zc.recipe.egg
eggs = gmailtool
interpreter = py-gmailtool
scripts = gmailtool=cmd-gmailtool

[gmailtool]
recipe = collective.recipe.scriptgen
_depends = ${cmd-gmailtool:eggs}
cmd = ${buildout:bin-directory}/cmd-gmailtool
environment =
    PROFILE_DIR=${buildout:directory}/var

[Sphinx]
recipe = zc.recipe.egg
eggs =
    Sphinx
    sphinxcontrib-napoleon
    sphinx_rtd_theme
    gmailtool

[docs-build]
recipe = collective.recipe.scriptgen
_depends = ${Sphinx:eggs}
cmd = ${buildout:bin-directory}/sphinx-build
arguments = ${buildout:directory}/docs ${buildout:directory}/var/docs
environment =
    PROFILE_DIR=${buildout:directory}/var

